<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
<li {% if active_link == "usersprofile" %}class="active"{% endif %}><a href="{% url 'usersprofile' %}">Complete-Profile</a></li>
<li {% if active_link == "boozProfiles" %}class="active"{% endif %}><a href="{% url 'boozProfiles' %}">Creat-Beer-Profile</a></li>
<li {% if active_link == "locateDrinkers" %}class="active"{% endif %}><a href="{% url 'locateDrinkers' %}">locateDrinkers</a></li>
<li {% if active_link == "GuestList" %}class="active"{% endif %}><a href="{% url 'GuestList' %}">your-guest-list</a></li>
<li {% if active_link == "YourJoingList" %}class="active"{% endif %}><a href="{% url 'YourJoingList' %}">you-are-joining-at</a></li>
