{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div class="container">
    <div class="header">
        <h3 class="text-muted">T-Shirt registration form</h3>
    </div>
    <div class="row" style="padding:20px;">

        <ul class="list-group">
             {% for allJoingList in allJoingLists %}

            <li>
               {{ allJoingList.boozprofileId }}</br>
               {{ allJoingList.guestId|upper }}</br>
           </li>
        </ul>
        {% endfor %}
    </div>

</div>
{% endblock %}
