{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div class="container">
    <div class="header">
        <h3 class="text-muted">T-Shirt registration form</h3>
    </div>
    <div class="row" style="padding:20px;">
         {% for allJoingList in allJoingLists %}
        <ul class="list-group">
           <br class="list-group-item">
               {{ allJoingList.boozprofileId }}</br>
               {{ allJoingList.guestId|upper }}</br>
           </li>
        </ul>
    </div>
     {% endfor %}
</div>
{% endblock %}
